@charset "utf-8";
@import "../_mixin.scss";

.home-title {
  font-size: 24px;
}

.title-column {
  text-align: center;
  margin: 16px;
}

.review {
  background-color: #eeeeee;
  overflow-wrap: break-word;

  &__loading{
    text-align: center;
  }

  &__title {
    font-size: 20px;
  }

  &__detail {
    font-size: 16px;
    margin-top: 8px;
  }

  &__comment {
    font-size: 16px;
    margin-top: 4px;
  }

  &__url {
    float: left;
    margin-top: 8px;
  }

  &__reviewer {
    font-size: 14px;
    margin-top: 8px;
    text-align: right;
  }
}

.review-column {
  margin: 16px auto;
  width: 70%;
  max-width: 750px;
  padding: 24px 32px;

  @include tab {
    width: 80%;
  }

  @include sp {
    width: 98%;
  }
}
