@charset "utf-8";
@import "../_mixin.scss";

.new-bookreview {
  display: flex;
  flex-direction: column;
  // background-color: aqua;
  width: 400px;
  margin: 0 auto;
}

.new-bookreview-title {
  text-align: center;
  margin: 16px 0;
}

.new-review-title-input,
.new-book-url-input {
  width: 400px;
  margin-bottom: 25px;
  font-size: large;
  height: 30px;
  margin-bottom: 25px;
}

.new-book-detail-input {
  width: 400px;
  height: 60px;
  margin-bottom: 25px;
  font-size: large;
  margin-bottom: 25px;
}

.new-book-review-input {
  width: 400px;
  height: 120px;
  margin-bottom: 25px;
  font-size: large;
  margin-bottom: 25px;
}

.new-book-submit-container {
  text-align: center;
}

.new-book-submit-button {
  background-color: rgb(99 193 120);
  color: white;
  padding: 8px 24px;
  border-radius: 8px;
  border: none;
  transition: 0.1s;
  &:hover {
    opacity: 0.8;
    transform: translate3d(1px, 5px, 0);
  }
}

.error-message {
  color: red;
  margin-top: 16px;
}
