@charset "utf-8";
@import "../_mixin.scss";

.header {
  height: 80px;
  background-color: rgb(99 193 120);
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    color: #ffffff;
    text-decoration: none;
    @include tab {
      font-size: 24px;
    }
    @include sp {
      display: none;
    }
  }

  &__logo-sp {
    display: none;
    @include sp {
      display: inline;
      font-size: 16px;
    }
  }

  &__nav {
    color: #ffffff;
    text-decoration: none;
    margin: 0 16px;
  }


}






