$main-color: #333;

.paginationlink {
  display: block;
  text-align: center;
  margin-top: 32px;
}

.pagetop {
  margin: 32px;
  color: $main-color;
  text-decoration: none;
}

.pagemove {
  color: $main-color;
  text-decoration: none;
}

.pageback {
  color: $main-color;
  text-decoration: none;
}
